/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  
  /*  made by taner*/

}

.white-text{
  color: white;
}

.inner-box{                                            /* !!!!! arada boşluk 2 sınıf olduğunnu gösteriyo */
  background-color: red;
}

#outer-box{
  background-color: purple;
  /*  border:10px solid purple; */

}/*                                                 !!!!  SIRAYI BÖYLE YAPMAYA ALIŞ.

#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}





*/